<tr>
    <td class="country"><a href="#profile/{{alpha2}}">{{alpha2}}</a></td>
    <td class="flag"><a href="#profile/{{alpha2}}"><img src="images/flags/{{alpha2}}.GIF"/></a></td>
    <td class="dot"><img src="images/dot/{{prebudgetstatement}}.png"/></td>
    <td class="dot"><img src="images/dot/{{executivesbudgetproposal}}.png"/></td>
    <td class="dot"><img src="images/dot/{{enactedbudget}}.png"/></td>
    <td class="dot"><img src="images/dot/{{citizensbudget}}.png"/></td>
    <td class="dot"><img src="images/dot/{{inyearreports}}.png"/></td>
    <td class="dot"><img src="images/dot/{{midyearreview}}.png"/></td>
    <td class="dot"><img src="images/dot/{{yearendreport}}.png"/></td>
    <td class="dot"><img src="images/dot/{{auditreport}}.png"/></td>
</tr>
